:root {
  --clr-primary-orange: hsl(25, 97%, 53%);

  --clr-neutral-white: hsl(0, 0%, 100%);
  --clr-neutral-lightgrey: hsl(217, 12%, 63%);
  --clr-neutral-mediumgrey: hsl(216, 12%, 54%);
  --clr-neutral-darkblue: hsl(213, 19%, 18%);
  --clr-neutral-verydarkblue: hsl(216, 12%, 8%);

  --ff-primary: "overpass", sans-serif;

  --fs-p: 0.938rem;
  --br: 1rem;
}
