.mainThankU {
  //display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2.5rem var(--spacer);

  .thankUsvg {
    display: flex;
    justify-content: center;
  }

  .numberChoice {
    display: flex;
    align-items: center;
    flex-direction: column;

    .choiceDiv {
      background-color: var(--clr-neutral-darkblue);
      margin: 1.5rem;
      border-radius: var(--br);
      text-align: center;

      p.choiceParagraph {
        color: var(--clr-primary-orange);
        padding: 0.4rem 0.5rem;
        text-align: center;
      }
    }

    .thanksHeading {
      font-weight: 400;
      padding: 0 0 1rem 0;
    }

    & > p.thanksParagraph {
      text-align: center;
      color: var(--clr-neutral-mediumgrey);
    }
  }
}
